<h1>Product</h1>
<hr/>
<div ng-controller="ProductController">
    <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchProduct">
          </div>      
        </div>
    </form>
    <table class="table table-hover">
        <tr>
            <th>
                <a ui-sref="product" ng-click="sortType = 'product_id'; sortReverse = !sortReverse">ID
                    <span ng-show="sortType == 'product_id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'product_id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th><a ui-sref="product" ng-click="sortType = 'product_name'; sortReverse = !sortReverse">Product Name
                    <span ng-show="sortType == 'product_name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'product_name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>Product Type</th>
            <th>Price</th>
            <th></th>
        </tr>
       <tr ng-repeat="product in products | orderBy:sortType: sortReverse | filter: searchProduct">
            <td>
                <span ng-click="productForm.$show()" e-name="customer.customer_id" style="cursor: pointer;">{{ product.product_id  }}</span>
            </td>
            <td>
                <span e-name="product_name" editable-text="product.product_name" e-required e-form="productForm">{{ product.product_name || 'empty' }}</span>
            </td>
            <td>
                <span e-name="product_type_id" editable-select="product.product_type_id" onshow="loadProductTypes()" e-form="productForm" e-ng-options="t.product_type_id as t.product_type_machine for t in productTypes">{{ showProductType(product) }}</span>
            </td>
            <td>
                <span e-name="price" editable-text="product.price" e-required e-form="productForm">{{ (product.price || 'empty') | number }}</span>
            </td>
            <td>
                <form editable-form name="productForm" onbeforesave="saveProduct($data, product.product_id)" ng-show="productForm.$visible" class="form-buttons form-inline" shown="inserted == product">
                    <button type="submit" ng-disabled="productForm.$waiting" class="btn btn-primary">
                      save
                    </button>
                    <button type="button" ng-disabled="productForm.$waiting" ng-click="productForm.$cancel()" class="btn btn-default">
                      cancel
                    </button>
                </form>
            </td>
       </tr>
    </table>
    <button class="btn btn-default" ng-click="addProduct()">Add Product</button>
</div>