<h1>Product type</h1>
<hr/>
<div ng-controller="ProductTypeController">
    <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchProductType">
          </div>      
        </div>
    </form>
    <table class="table table-hover">
        <tr>
            <th>
                <a ui-sref="product-type" ng-click="sortType = 'product_type_id'; sortReverse = !sortReverse">ID
                    <span ng-show="sortType == 'product_type_id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'product_type_id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th><a ui-sref="product-type" ng-click="sortType = 'product_type_name'; sortReverse = !sortReverse">Product Type Name
                    <span ng-show="sortType == 'product_type_name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'product_type_name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>Product Type Machine</th>
            <th></th>
        </tr>
       <tr ng-repeat="productType in productTypes | orderBy:sortType: sortReverse | filter: searchProductType">
            <td>
                <span ng-click="productTypeForm.$show()" e-name="customer.customer_id" style="cursor: pointer;">{{ productType.product_type_id  }}</span>
            </td>
            <td>
                <span e-name="product_type_name" editable-text="productType.product_type_name" e-required e-form="productTypeForm">{{ productType.product_type_name || 'empty' }}</span>
            </td>
            <td>
                <span e-name="product_type_machine" e-style="text-transform: uppercase;" editable-text="productType.product_type_machine" e-form="productTypeForm">{{ (productType.product_type_machine || 'empty') | uppercase }}</span>
            </td>
            <td>
                <form editable-form name="productTypeForm" onbeforesave="saveProductType($data, productType.product_type_id)" ng-show="productTypeForm.$visible" class="form-buttons form-inline" shown="inserted == productType">
                    <button type="submit" ng-disabled="productTypeForm.$waiting" class="btn btn-primary">
                      save
                    </button>
                    <button type="button" ng-disabled="productTypeForm.$waiting" ng-click="productTypeForm.$cancel()" class="btn btn-default">
                      cancel
                    </button>
                </form>
            </td>
       </tr>
    </table>
    <button class="btn btn-default" ng-click="addProductType()">Add Product Type</button>
</div>